<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/contactus" method="POST">
            <div class="form-control">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name">
            </div>
            <div class="form-control">
                <label for="Email">Email ID:</label>
                <input type="email" name="email" id="email">
            </div>

            <button class="btn" type="submit">Send</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>